<meta charset="UTF-8" />
<% let scheme = site.customConfig.scheme || 'pisces', cdn = site.customConfig.cdn %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="keywords" content="<%= site.customConfig.seoKeywords %>">
<meta name="description" content="<%= themeConfig.siteDescription %>">
<meta name="theme-color" content="<%= site.customConfig.bgSiteMetaColor %>">
<title><%= siteTitle %></title>
<link rel="shortcut icon" href="<%= cdn %>/favicon.ico?v=<%= site.utils.now %>">
<link rel="stylesheet" href="<%= cdn %>/styles/main.css">
<link rel="stylesheet" href="<%= cdn %>/media/css/<%= scheme?scheme:'pisces' %>.css">

<link rel="stylesheet" href="<%= cdn %>/media/fonts/font-awesome.css">
<link
  href="//fonts.googleapis.com/css?family=Monda:300,300italic,400,400italic,700,700italic|Roboto Slab:300,300italic,400,400italic,700,700italic|Rosario:300,300italic,400,400italic,700,700italic|PT Mono:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext"
  rel="stylesheet" type="text/css">

<link href="<%= cdn %>/media/hljs/styles/<%= site.customConfig.hljs?site.customConfig.hljs:'github' %>.css"
  rel="stylesheet">

<script src="<%= cdn %>/media/hljs/highlight.js"></script>
<script src="https://cdn.jsdelivr.net/npm/velocity-animate@1.5.0/velocity.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/velocity-animate@1.5.0/velocity.ui.min.js"></script>

<% if (site.customConfig.latex === 'mathjax') { %>
<script>
  window.MathJax = {
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [['$', '$'], ["\\(", "\\)"]],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true,
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
    },
    messageStyle: "none",
    "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX", "TeX"] },
    TeX: {
      equationNumbers: { autoNumber: "all" },
      extensions: ["AMSmath.js", "AMSsymbols.js", "AMScd.js"],
      TagSide: "left",
      Macros: {
        field: ['\\mathbb{#1}', 1],
        C: ['\\field{C}'],
        F: ['\\field{F}'],
        N: ['\\field{N}'],
        Q: ['\\field{Q}'],
        R: ['\\field{R}'],
        Z: ['\\field{Z}'],

        zeros: ['\\mathbf{0}'],
        ud: ['\\,\\mathrm{d}'],

        vect: ['\\boldsymbol{\\mathbf{#1}}', 1],
        abs: ['\\lvert#1\\rvert', 1],
        abslr: ['\\left\\lvert#1\\right\\rvert', 1],
        norm: ['\\lVert#1\\rVert', 1],
        normlr: ['\\left\\lVert#1\\right\\rVert', 1],

        lcm: ['\\mathop{\\mathrm{lcm}}'],
        interior: ['\\mathop{\\mathrm{int}}'],
        exterior: ['\\mathop{\\mathrm{ext}}'],
        volume: ['\\mathop{\\mathrm{vol}}'],

        E: ['{\\rm I\\kern-.3em E}'],
        Var: ['\\mathop{\\mathrm{Var}}'],
        Cov: ['\\mathop{\\mathrm{Cov}}'],
        Binom: ['\\mathop{\\mathrm{Binom}}'],
        Exp: ['\\mathop{\\mathrm{Exp}}'],
        Poi: ['\\mathop{\\mathrm{Poi}}'],

        GL: ['\\mathrm{GL}'],
        SL: ['\\mathrm{SL}'],
        Aut: ['\\mathrm{Aut}'],
        ker: ['\\mathrm{ker}'],
        id: ['\\mathop{\\mathrm{id}}'],

        Re: ['\\mathop{\\mathrm{Re}}'],
        Im: ['\\mathop{\\mathrm{Im}}'],
        Res: ['\\mathop{\\mathrm{Res}}'],
      }
    }
  }
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</script>
<% } else { %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css"
  integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js"
  integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js"
  integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"
  onload="renderMathInElement(document.body);"></script>
<% } %>

<% if (site.customConfig.ga) { %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= site.customConfig.ga %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', '<%= site.customConfig.ga %>');
</script>
<% } %>
<% if (site.customConfig.bd) { %>
<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?<%= site.customConfig.bd %>";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<% } %>