<% let map = new Map(); map.set('/','home'); map.set('/archives', 'archive'); map.set('/tags','tags');map.set('/post/about','info_sign'); %>
<header class="header">
  <div class="blog-header" id="header">
    <div class="site-meta">
      <div class="nav-toggle" id="nav_toggle">
        <div class="toggle-box">
          <div class="line line-top"></div>
          <div class="line line-center"></div>
          <div class="line line-bottom"></div>
        </div>
      </div>
      <div class="site-title">
        <a href="/" class="brand">
          <span><%= themeConfig.siteName %></span>
        </a>
      </div>
      <p class="subtitle">Quick notes</p>
    </div>
    <nav class="site-nav" id="site_nav">
      <ul id="nav_ul">
        <% menus.forEach(function(menu) { %>
          <li class="nav-item <%= active && menu.link === link?'nav-item-active':'' %>">
            <% if (menu.openType === 'External') { %>
              <a href="<%= menu.link %>" target="_blank">
                <i class="iconfont icon-<%= map.get(menu.link) || 'globe'%>"></i> <%= menu.name %>
              </a>
            <% } else { %>
              <a href="<%= menu.link %>">
                <i class="iconfont icon-<%= map.get(menu.link)%>"></i> <%= menu.name %>
              </a>
            <% } %>
          </li>
        <% }); %>
        <li class="nav-item">
          <a>
            <i class="iconfont icon-search"></i> 搜索
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<script type="text/javascript"> 
 
  let showNav = true;

  let navToggle = document.querySelector('#nav_toggle'),
  siteNav = document.querySelector('#site_nav');
  
  function navClick() {
    navToggle.classList.toggle('nav-toggle-active');
    siteNav.classList.toggle('nav-menu-active');
  }

  navToggle.addEventListener('click',navClick);  
</script>