
<p>&#8203;</p>
<div>
  <div>
    <div style="text-align:center;color:#555;font-size:14px">-----------------------本文结束 <i class="fa fa-heart"></i>
      感谢阅读-----------------------</div>
  </div>
</div>
<% if (site.customConfig.enableReward) { %>
  <div>
    <div style="padding:10px 0;margin:20px auto;width:90%;text-align:center">
      <div style="text-align:center">
        <span class="with-love">
          <i class="fa fa-heart"></i>
        </span>
        <%= site.customConfig.RewardMessage %>
        <span class="with-love">
          <i class="fa fa-heart"></i>
        </span>
      </div>
      <button id="rewardButton" disable="enable"
        onclick="var qr = document.getElementById(&quot;QR&quot;); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}"><span>赞赏</span></button>
      <div id="QR" style="display: none;">
        <div id="wechat" style="display:inline-block"><img id="wechat_qr"
            src="<%= site.customConfig.Rewardwx %>" alt="微信">
          <p>微信</p>
        </div>
        <div id="alipay" style="display:inline-block"><img id="alipay_qr"
            src="<%= site.customConfig.Rewardzfb %>" alt="支付宝">
          <p>支付宝</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
<% } %>
<div class="post-footer">
  <ul class="post-copyright">
    <li class="post-copyright-author">
      <strong>本文作者：</strong>
      <%= site.customConfig.bolgername %>
    </li>
    <li class="post-copyright-link">
      <strong>本文链接：</strong>
      <a href="<%= post.link %>" title="<%= post.title %>"><%= post.link %></a>
    </li>
    <li class="post-copyright-license">
      <strong>版权声明： </strong>
      本博客所有文章除特别声明外，均采用<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="noopener" target="_blank"><i class="fa fa-fw fa-creative-commons"></i> BY-NC-SA</a> 许可协议。转载请注明出处！
    </li>
  </ul>
  <div class="tags">
    <% for(let i = 0; i < post.tags.length; i++) { %>
      <a href="<%= post.tags[i].link %>"># <%= post.tags[i].name %></a>
    <% } %>
  </div>
  <div class="nav">
    <div class="nav-prev">
      <% if (post.prevPost) { %>
        <i class="fa fa-chevron-left"></i>
        <a class="nav-pc-next" title="<%= post.prevPost.title %>" href="<%= post.prevPost.link %>"><%= post.prevPost.title %></a class="nav-pc-next">
        <a class="nav-mobile-prev" title="<%= post.prevPost.title %>" href="<%= post.prevPost.link %>">上一篇</a>
      <% } %>
    </div>
    <div class="nav-next">
      <% if (post.nextPost) { %>
        <a class="nav-pc-next" title="<%= post.nextPost.title %>" href="<%= post.nextPost.link %>"><%= post.nextPost.title %></a>
        <a class="nav-mobile-next" title="<%= post.nextPost.title %>" href="<%= post.nextPost.link %>">下一篇</a>
        <i class="fa fa-chevron-right"></i>
      <% } %>
    </div>
  </div>
</div>