<div class="sidebar-wrapper">
  <div class="sidebar-item">
    <img class="site-author-image right-motion" src="<%= themeConfig.domain %>/images/avatar.png"/>
    <p class="site-author-name"><%= themeConfig.siteName %></p>
    <p class="site-description right-motion"><%= site.customConfig.introduction %></p>
  </div>
  <div class="sidebar-item side-item-stat right-motion">
    <div class="sidebar-item-box">
      <a href="/archives/">
        <% let articles = 0; site.posts.forEach(function(post) { if (!post.hideInList) articles++;});%>
        <span class="site-item-stat-count"><%= articles %></span>
        <span class="site-item-stat-name">文章</span>
      </a>
    </div>
    <div class="sidebar-item-box">
      <a href="">
        <span class="site-item-stat-count"><%= site.tags.length %></span>
        <span class="site-item-stat-name">分类</span>
      </a>
    </div>
    <div class="sidebar-item-box">
      <a href="/tags/">
        <span class="site-item-stat-count"><%= site.tags.length %></span>
        <span class="site-item-stat-name">标签</span>
      </a>
    </div>
  </div>
  <% let scheme = site.customConfig.scheme %>
  <% if (scheme !== 'muse' && scheme !== 'mist') { %>
    <% if(site.customConfig.rss) { %>
      <div class="sidebar-item">
        <span class="site-item-rss">
            <i class="fa fa-rss"></i>
            <a href="<%= themeConfig.domain %>/atom.xml" target="_blank">RSS</a>
        </span>
      </div>
    <% } else {%>
      <div class="sidebar-item" style="border-top: 1px dotted #ccc;">
      </div>
    <% } %>
  <% } %>
  <% if (scheme !== 'muse' && scheme != 'mist') { %>
    <div class="sidebar-item sidebar-item-social">
      <div class="social-item">
          <% if (site.customConfig.github !== '') {%>
            <a href="<%= site.customConfig.github %>">
              <i class="fa fa-github-alt"></i> Github
            </a>
          <% } %>
          <% if (site.customConfig.juejin !== '') {%>
            <a href="<%= site.customConfig.juejin %>">
              <i class="fa fa-graduation-cap"></i> 掘金
            </a>
          <% } %>
          <% if (site.customConfig.jianshu !== '') {%>
            <a href="<%= site.customConfig.jianshu %>">
              <i class="fa fa-book"></i> 简书
            </a>
          <% } %>
          <% if (site.customConfig.twitter !== '') {%>
            <a href="" title="<%= site.customConfig.qq %>">
              <i class="fa fa-twitter"></i> Twitter
            </a>
          <% } %>
          <% if (site.customConfig.wechat !== '') {%>
            <a class="social-img" href="">
              <img src="<%= site.customConfig.wechat %>" />
              <i class="fa fa-wechat %>"></i> 微信
            </a>
          <% } %>
          <% if (site.customConfig.qq !== '') {%>
            <a class="social-img" href="">
              <img src="<%= site.customConfig.qq %>" />
              <i class="fa fa-qq"></i> QQ
            </a>
          <% } %>
          <% if (site.customConfig.douban !== '') {%>
            <a class="social-img" href="<%= site.customConfig.douban %>">
              <i class="icon-douban">豆</i>
              <span class="douban-span">豆瓣</span>
            </a>
          <% } %>
      </div>
    </div>
  <% } %>
<% if (site.customConfig.friends && site.customConfig.friends.length > 0) { %>
  <div class="sidebar-item right-motion sidebar-item-friends">
    <p class="friends-title"><i class="fa fa-globe"></i> <%= site.customConfig.friendsTitle %></p>
    <div class="friends-box">
      <% for (let i = 0; i < site.customConfig.friends.length; i++) {%>
        <p>
          <a href="<%= site.customConfig.friends[i].siteLink %>">【<%= site.customConfig.friends[i].siteName %>】</a>
        </p>
      <% } %>
    </div>
  </div>
<% } %>
</div>