<div class="sidebar-wrapper">
  <div class="sidebar-item">
    <img class="site-author-image" src="<%= themeConfig.domain %>/images/avatar.png"/>
    <p class="site-author-name"><%= themeConfig.siteName %></p>
    <p class="site-description"><%= themeConfig.siteDescription %></p>
  </div>
  <div class="sidebar-item side-item-stat">
    <div class="sidebar-item-box">
      <a href="">
        <span class="site-item-stat-count"><%= site.posts.length %></span>
        <span class="site-item-stat-name">日志</span>
      </a>
    </div>
    <div class="sidebar-item-box">
      <a href="">
        <span class="site-item-stat-count"><%= site.tags.length %></span>
        <span class="site-item-stat-name">分类</span>
      </a>
    </div>
    <div class="sidebar-item-box">
      <a href="">
        <span class="site-item-stat-count"><%= site.tags.length %></span>
        <span class="site-item-stat-name">标签</span>
      </a>
    </div>
  </div>
  <div class="sidebar-item">
    <span class="site-item-rss">
        <i class="iconfont icon-rss"></i>
        <a href="<%= themeConfig.domain %>/atom.xml" target="_blank">RSS</a>
    </span>
  </div>
  <div class="sidebar-item sidebar-item-social">
    <div class="social-item">
      <a href="">
        <i class="iconfont icon-github"></i> GitHub
      </a>
      <a href="">
        <i class="iconfont icon-twitter"></i> Twitter
      </a>
    </div>
    <div class="social-item">
      <a href="">
        <i class="iconfont icon-globe"></i> 豆瓣
      </a>
      <a href="">
        <i class="iconfont icon-globe"></i> 知乎
      </a>
    </div>
  </div>
</div>