<!DOCTYPE html>
<html>
  <head>
      <%- include('./_blocks/head', { siteTitle: themeConfig.siteName }) %>
      <meta name="description" content="<%= themeConfig.siteDescription %>">
  </head>
  <body>
    <div class="head-top-line"></div>
    <div class="header-box">
      <%- include('./_blocks/header', {active: true, menu: 'archives', link: '/archives'}) %>
    </div>
    <div class="main-continer">
      <% let scheme = site.customConfig.scheme; %>
      <div class="section-layout <%= scheme !==''?scheme:'pisces' %>">
        <div class="section-layout-wrapper">
          <%- include('./_blocks/home-sidebar') %>
          <div class="section-box">
            <section class="section posts-expand">
              <%- include('./_blocks/archive-timeline') %>
            </section>
          </div>
        </div>
      </div>
      <%- include('./_blocks/footer') %>
    </div>
  </body>
  <script src="/media/js/motion.js"></script>
</html>