<!DOCTYPE html>
<html>
  <head>
      <%- include('./_blocks/head', { siteTitle: themeConfig.siteName }) %>
  </head>
  <body>
    <div class="head-top-line"></div>
    <div class="header-box">
      <%- include('./_blocks/header', {active: true, menu: 'home', link: '/'}) %>
    </div>
    <div class="main-continer">
      <% let scheme = site.customConfig.scheme; %>
      <div class="section-layout <%= scheme !==''?scheme:'pisces' %> <%= scheme === 'muse' || scheme === 'mist' ?'bg-color':'' %>">
        <div class="section-layout-wrapper">
          <%- include('./_blocks/home-sidebar') %>
          <div class="section-box <%= scheme !==''?scheme:'pisces' %>">
            <section class="section <%= scheme === 'gemini'?'':'bg-color' %> posts-expand slide-down-in">
              <%- include('./_blocks/post-list') %>
              <% let articles = 0; site.posts.forEach(function(post) { if (!post.hideInList) articles++;});%>
              <%- include('./_blocks/pagination', { logs: articles, pageSize: themeConfig.postPageSize, url: '/page/', index: 4}) %>
            </section>
          </div>
        </div>
      </div>
      <%- include('./_blocks/footer') %>
    </div>
    <object type="application/x-shockwave-flash" style="outline:none;" data="http://cdn.abowman.com/widgets/hamster/hamster.swf?" width="150" height="160">
    <param name="movie" value="http://cdn.abowman.com/widgets/hamster/hamster.swf?">
    <param name="AllowScriptAccess" value="always">
    <param name="wmode" value="opaque">
    </object>
  </body>
  <script src="/media/js/motion.js"></script>
</html>