<!DOCTYPE html>
<html>

<head>
  <%- include('./_blocks/head', { siteTitle: `${post.title} | ${themeConfig.siteName}` }) %>
  <meta name="description" content="<%- post.title %>" />
  <meta name="keywords" content="<%- post.tags.map(tag => tag.name).join(',') %>" />
</head>

<body>
  <div class="head-top-line"></div>
  <div class="header-box">
    <%- include('./_blocks/header', {active: false}) %>
  </div>
  <div class="main-continer">
    <% let scheme = site.customConfig.scheme || 'pisces'; %>
    <div
      class="section-layout <%= scheme?scheme:'pisces' %> <%= scheme === 'muse' || scheme === 'mist' ?'bg-color':'' %>">
      <div class="section-layout-wrapper">
        <%- include('./_blocks/post-sidebar', {toc: post.toc, link: '/'}) %>
        <div class="section-box box-shadow-wrapper">
          <div class="section bg-color post post-page">
            <%- include('./_blocks/title', { title: post.title, tags: post.tags, link: post.link, dateFormat: post.dateFormat, stats: post.stats, isTop: post.isTop, browse: site.customConfig.visitor }) %>
            <div class="post-body next-md-body" id="post_body">
              <%- post.content %>
            </div>
            <% if (site.customConfig.enableReward) { %>
              <div class="reward-btn">
                <div class="reward-btn-text">赞赏</div>
              </div>
            <% } %>
            <% if (!post.link.includes('about')) { %>
              <%- include('./_blocks/post-footer') %>
            <% } %>
            <%- include('./_blocks/comment') %>
          </div>
        </div>
      </div>
    </div>
    <%- include('./_blocks/footer') %>
    <%- include('./_blocks/light-box') %>
    <%- include('./_blocks/reward') %>
  </div>
</body>
<%- include('./_blocks/after-body') %>
</html>