<html>
  <head>
      <%- include('./_blocks/head', { siteTitle: themeConfig.siteName }) %>
  </head>
  <body>
    <div class="head-top-line"></div>
    <div class="header-box">
      <%- include('./_blocks/header', {active: false}) %>
    </div>
    <div class="main-continer">
      <% let scheme = site.customConfig.scheme; %>
      <div class="section-layout <%= scheme !==''?scheme:'pisces' %>">
        <div class="section-layout-wrapper">
          <%- include('./_blocks/post-sidebar', {toc: post.toc, link: '/'}) %>
          <div class="section-box">
            <div class="section post">
              <%- include('./_blocks/article') %>
              <div class="post-body next-md-body" id="post_body">
                <%- post.content %>
              </div>
              <%- include('./_blocks/post-footer') %>
              <% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
                <% if (commentSetting.commentPlatform === 'gitalk') { %>
                  <%- include('./_blocks/gitalk') %>
                <% } %>
                <% if (commentSetting.commentPlatform === 'disqus') { %>
                  <%- include('./_blocks/disqus') %>
                <% } %>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <%- include('./_blocks/footer') %>
    </div>
  </body>
  <script src="/media/js/motion.js"></script>
</html>