<html>
  <head>
      <%- include('./_blocks/head', { siteTitle: themeConfig.siteName }) %>
  </head>
  <body>
    <div class="head-top-line"></div>
    <div class="header-box">
      <%- include('./_blocks/header', {active: false}) %>
    </div>
    <div class="main-continer">
      <div class="section-layout">
        <div class="section-layout-wrapper">
          <%- include('./_blocks/home-sidebar') %>
          <div class="section-box">
            <section class="section posts-expand">
              <%- include('./_blocks/tag-timeline') %>
            </section>
          </div>
        </div>
      </div>
      <%- include('./_blocks/footer') %>
    </div>
  </body>
</html>